<%= form_for(@pair) do |f| %>
  <% if @pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pair.errors.count, "error") %> prohibited this pair from being saved:</h2>

      <ul>
      <% @pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :n1 %><br />
    <%= f.text_field :n1 %>
  </div>
  <div class="field">
    <%= f.label :n2 %><br />
    <%= f.text_field :n2 %>
  </div>  
  <div class="field">
    <%= f.label :route_id %><br />
    <%= f.text_field :route_id %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
