<%= form_for(@poi) do |f| %>
  <% if @poi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi.errors.count, "error") %> prohibited this poi from being saved:</h2>

      <ul>
      <% @poi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>  
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :long %>
  </div>  
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>    
  <div class="field">
    <%= f.label :park_id %><br />
    <%= f.text_field :park_id %>
  </div>  
  <div class="field">
    <%= f.label :poi_type_id %><br />
    <%= f.text_field :poi_type_id %>
  </div>   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
